{% extends 'base.html.twig' %}

{% block titrePage %}
  <h2>Formations</h2>
{% endblock %}

{% block contenuPage %}
  <ul>
      <li><a href="{{path('proStage_stages',{id:1})}}"> DUT Informatique </a> </li>

      <li><a href="{{path('proStage_stages',{id:2})}}"> BTS réseau </a></li>

      <li><a href="{{path('proStage_stages',{id:3})}}"> Licence STAPS </a></li>

      <li><a href="{{path('proStage_stages',{id:4})}}"> Master philosophie </a></li>
  </ul>

{% endblock %}