{% extends 'base.html.twig' %}

{% block contenu %}

        <h2>Entreprises</h2>
    <ul>
        <li><a href="{{path('proStage_stages',{id:6})}}"> Ubisoft corporation </a> </li>

        <li><a href="{{path('proStage_stages',{id:7})}}"> Motion Twins </a></li>

        <li><a href="{{path('proStage_stages',{id:8})}}"> Cd projekt red </a></li>

        <li><a href="{{path('proStage_stages',{id:9})}}"> Dice </a></li>
    </ul>

{% endblock %}