<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
        
    </head>
    <body>
        
        <h1> Cette page affichera la liste des entreprises proposant un stage  </1>
    </body>
</html>
