{% extends 'base.html.twig' %}

{% block body %}

    <h1>Hello ✅</h1>


    <a href="{{path('proStage_entreprises')}}"> Entreprises </a> </br>

    <a href="{{path('proStage_formations')}}"> Formations </a>

{% endblock %}
